.chartContainer {
  max-width: 100vw;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem;
  background-color: rgba(250, 250, 250, 0.4);
  border-radius: 42px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controls {
  max-width: 550px;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
}

.controls > * {
  margin: 0.5rem 1rem;
  font-size: 0.75rem;
}

@media only screen and (min-width: 1024px) {
  .chartContainer {
    padding: 2rem 3rem;
  }

  .controls > * {
    margin: 0.5rem 2rem;
    font-size: unset;
  }
}
