:root {
  --yellow: #ffc008;
}

@font-face {
  font-family: IndieFlower;
  src: url('../assets/fonts/IndieFlower-Regular.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.App {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* -webkit-backdrop-filter: blur(11px);
  backdrop-filter: blur(11px); */
}

.scroll {
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  cursor: all-scroll;
}

/* .scroll::-webkit-scrollbar {
  display: none;
} */

.main {
  width: 95vw;
  width: calc(100vw - 50px);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.flex-evenly {
  width: 100%;
  margin: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.react-toggle .react-toggle-track {
  background-color: #ab199f !important;
}

.react-toggle--checked .react-toggle-track {
  background-color: #ab199f !important;
}

@media only screen and (min-width: 1024px) {
  .App {
    flex-direction: row;
  }
}
